@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/HelveticaLight.eot');
    src: url('../fonts/HelveticaLight.woff') format('woff'), url('../fonts/HelveticaLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/HelveticaRegular.eot');
    src: url('../fonts/HelveticaRegular.woff') format('woff'), url('../fonts/HelveticaRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/HelveticaBold.eot');
    src: url('../fonts/HelveticaBold.woff') format('woff'), url('../fonts/HelveticaBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/HelveticaBlack.eot');
    src: url('../fonts/HelveticaBlack.woff') format('woff'), url('../fonts/HelveticaBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

:root {
    --bg: #f3f3f3;
    --text: #000000;
    --el: #fb7516;
    --gray: #757575;
    --bgh: #f5c011;
    --invalid: #ff0000;
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: var(--bg);
    color: var(--text);
}

h4 {
    margin: 0;
    padding: 0;
    font-size: 18px;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    color: var(--gray);
}

.container {
    width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: var(--text);
}

header {
    background-color: var(--text);
    color: var(--bg);
}

header a {
    color: var(--bg);
}

header .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

header .header .img {
    width: 180px;
    height: 42px;
}

header .header .img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

header .header .logo {
    flex: 1
}

header .header nav {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    text-align: right;
}

header .header nav a {
    display: block;
    line-height: 50px;
    padding: 0 15px;
    transition: all .3s;
}

header .header nav a.active,
header .header nav a:hover {
    color: var(--el);
}

footer {
    background-color: var(--text);
    color: var(--bg);
    font-size: 44px;
}

footer a {
    color: var(--bg);
}

footer .footer {
    display: flex;
    justify-content: space-between;
    padding: 102px 0;
}

footer .footer .contact,
footer .footer .address {
    width: 45%;
}

footer .footer .address {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

footer .footer .address .address-block {
    display: inline-block;
}

footer .footer .contact .info {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin-bottom: 50px;
}

footer .footer .contact .social {
    margin-bottom: 50px;
}

footer .footer .contact .social .img {
    display: block;
    width: 42px;
    height: 42px;
}

footer .footer .contact .social .img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

footer .footer .contact .info-site {
    font-size: 16px;
}

footer .footer .contact {
    display: flex;
}

footer .footer .contact svg {
    width: 65px;
    height: 138px;
    margin: 10px 10px 0 0;
}

footer .footer .contact svg path {
    fill: var(--el);
}

main {
    margin: 95px 0;
}

main .form {
    margin-top: 50px;
}

.form form input {
    border: 0;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid var(--gray);
    padding: 3px 3px 8px 10px;
    font-size: 18px;
    transition: all .3s;
}

.form form .input {
    position: relative;
    margin: 18px 0px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.form form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form form .input:nth-of-type(1),
.form form .input:nth-of-type(2) {
    width: 48%;
}

.btn {
    background-color: var(--el);
    outline: 0;
    border: 0;
    color: var(--bg);
    width: 100%;
    font-size: 20px;
    padding: 15px 20px;
    margin-top: 18px;
    transition: all .3s;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--bgh);
    color: var(--text);
}

.form form input.focus {
    border-bottom: 1px solid var(--bgh);
}

.form form input.invalid {
    border-bottom: 1px solid var(--invalid);
}